body
{
	background-image: whitesmoke;
  /*display: flex;*/

}

#priceID {
  display: inline-block;
  height: 30px;
  width: 150px;
  outline: none;
  color: #74646e;
  border: 1px solid #C8BFC4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    border: 0;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
#catID {
  display: inline-block;
  height: 30px;
  width: 150px;
  outline: none;
  color: #74646e;
  border: 1px solid #C8BFC4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}
#name-error{
	color: red;
  
}

#email-error{
  color: red;
}
.info
{
  background-color: whitesmoke;
  padding: 20px;
  margin: 3px 3px 20px 3px;
}
.carousel-item >img
{

  height: 550px;
}
.carousel-caption
{
  text-align: right;
}
.login-form
{
  padding:30px;
  background-color:rgb(239, 234, 226);
  border-radius: 20px;
}

.panel-yel
{
  /*background-color:#f89d13;*/
  color:Black;
}


/* My stuff*/
.info{
  background:#4A3E3A;border-radius:10px;color:#fff;
}
.infoimg{width:100%;}

.featuredimg{border-radius:10px;width:300px;}
.learnmore{background:#1B120F;padding:5px 15px;border:none;border-radius:100px;color:#fff;}
.foot{background: #3f4269 ;padding:10px;color:#fff;
 position: sticky;
    bottom: 0;}
.new{font-size:0.7em;background:#3D3836;padding:5px 10px;border-radius:100px;}

.viewbtn{background: #8E44AD;color:#fff;font-weight:bold;border-radius:100px;border:none;padding:5px 15px;font-size:0.8em;}
.search{background:#fff;padding:20px;box-shadow:0px 0px 5px #b5b5b5;border-radius:10px;}
.foota{color:#fff;padding:5px 10px;transition:0.5s;}
.foota:hover{color:#b6b6ba !important;text-decoration:none;}
.infotext{padding:10px;font-size:0.9em;}
.infoname{font-size:1em;font-weight:bold;}

.boxee{background: #E2E2E2;border:none;border-radius:100px;padding:5px 15px;}
.links{margin-left:20px;line-height:2;}
.featured{background: #f89d13;padding:20px;border-radius:10px;box-shadow:0px 0px 5px #b5b5b5;color:#fff;}
.featuredtext{font-weight:bold;}

.contentmain
{
  border-radius:10px;
background-color: #c5c0b7;
margin-top: 40px;
padding: 40px;
box-shadow:0px 0px 5px #b5b5b5;
/*height: 420px;*/
}
.start
{
  color:white;
  padding:60px 60px 0px 20px;
}
.imagecol >img 
{
  width:400px;
margin-top:100px;
margin-left:40px;
}

    
    .imagecolhome >img 
    {
      width: 100%;
    margin-top:20px;
    margin-left:40px;
    }

    .motto>h1{
      font-weight:bold;
      font-style:italic;
    }

    .slogan{font-style:italic;margin-right:25px;font-size:1.2em;}

.btn-rad
{
   padding: 0px 20px 5px 20px;
  border-radius: 20px;
}
.btn-log
{
  background-color: #00000063;
  color:white;
}
.form-group > input
{
  border-radius: 30px !important;
  border:none;
}
.forg > a
{
  float:right;
  color: white;
}
.footer-contents > ul  >li
{
  /*list-style-type: none;*/
  display: inline !important;
   padding: 0px 20px 5px 20px !important;

}

.ourbutton{
  background:#B97A19;
  border-radius:100px;
  border:none;
  color:#fff;
  padding:5px 15px;
}

.ourbutton2{
  padding:5px 15px;
  border-radius:100px;
}

.forgot{font-style:italic;}

.loglog{
 padding:25px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #ba1818;
    border-color: #3097D1;
}

dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #00000040 !important;
}

.showbtn
{
  background-color:#8E44AD;
  
}

/*test for dashboard*/


.back-container{ display: flex; }
/*.main{
  width: 71%; margin : 1%; padding: 1%; background-color: red;
}*/


.container{ max-width: 100%; }
.report{
  padding: 1%; background-color: #e2d0d0; margin: 1% 1% 1% 0; display: flex; flex-wrap: wrap;
}

.report-title{ text-align: center;width: 100%; padding: 1%; background-color: #3f4269; color: white }
.report div{
  width: 31%; margin: 1%; background-color: white; text-align: center; color: #3f4269;
  font-weight: bold; font-size: 25px; transition: transform 2s;
}
.report div i{
  font-size: 50px; color: black;
}
.report div a{
  padding: 13% 0; display: block; width: 100%;
}
.report div:hover{
  background-color: whitesmoke;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
  /*background: #CCC;*/
}

.fa {
 padding: 3px;
    font-size: 16px !important;
    width: 33px;  
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

/*.col-md-6.imagecolhome img {
    width: 100%;
}*/

/*for faq page*/

.p1 {
    margin-left: 0px ;
    font-size:13px;
  color:grey;
  
    }
    textarea.form-control {
    HEIGHT: 200px;
}
  .form-control{
  margin-left: 0px;
  width:500px;
  /*height: 200px !important;*/

}
@media only screen and (max-width: 600px) {
.motto h2 {
    font-size: 18px !important;
}
.col-md-6.start {
    padding: 0px;
}
.slogon h3 {
  font-size: 18px;
}
.imagecolhome >img {
   
    margin-left: 0px;
}
.loglog {
    padding: 0px !important;
}

.map-div {
    margin-top: 12px;
    padding: 10px;
    width: 100%;
}

.map-div iframe{
  border: 0;
    width: 100%;
    height: 200px;
}
 .form-control{
  margin-left: 0px;
  width:100%;
  /*height: 200px !important;*/

}
a#navbarDropdown {
    margin-top: 10px;
}

}

@media only screen and (max-width: 768px) {
  .loglog {
    padding: 0px !important;
}
.map-div iframe{
    width: 100%;
    height: 482px;}
     .form-control{
  margin-left: 0px;
  width:100%;
  /*height: 200px !important;*/

}
/*#Sidebar {
  width:100%;
}*/
.col-md-6.detail-car-list {
    padding: 38px !important;
}
}

@media only screen and (min-width: 768px) {
  .loglog {
    padding: 0px !important;
}
.map-div iframe{
    width: 100%;
    height: 482px;}
     .form-control{
  margin-left: 0px;
  width:100%;
  /*height: 200px !important;*/

}
}

.form-group {
    margin-top: 20px;
}
a.navbar-brand.text-center {
    margin-top: 20px;
}

textarea#opinion {
    width: 100%;
}
li.nav-item.dropdown {
    margin-top: -10px;
}
.dropdown-menu.show {
    padding: 10px;
}